.grid{
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    gap: 2rem;
    padding: 4rem;
    /*background-image: url('back_hero.png');*/
    background-size: contain;
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &::before{
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius:100px;
        background: #f7f0e9;
        animation: rond 6s infinite ease-in-out;
    }
}
.cards, .cards_lg, .cards_m{ 
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.503);
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 4px 3px #273f3a2c;
    border-radius: 5px;
    transition: .8s;
    overflow: hidden;
    padding: 15px;
    filter: grayscale(1);
    .image{
        border-radius: 5px;
        overflow: hidden;
        height: 15rem;
        transition: .8s;
        &:hover{
        filter: blur(.5px);
        }
    }
        &:hover{
            transition: .8s;
            transform: scale(1.2);
            box-shadow: 6px 6px 6px 6px #273f3a2c;
            z-index: 5;
            padding: 15px;
            filter: grayscale(1);            
        }
        &:active{
            box-shadow: 2px 2px 2px 2px #273f3a2c;
            transition: .1s;
        }
}
.cards{
    img{
    height: 20rem;
    }
}
.cards_m{
    grid-column: 1/3;
    .image{
        img{
            width: 100%;
        }
    }
}
.cards_lg{
    grid-column: 1/4;
    .image{
        img{
            width: 100%;
        }
    }
}
/*HOVER TEXTE*/
.txt_cards{
    padding: 10px;
    color: #17947C;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    border-radius: 5px 5px ;
    box-shadow: 4px 4px 4px 3px #273f3a2c;
    padding: 1.5rem;
    opacity: 0;
    transition: .4s;
    overflow: hidden;
    margin:1rem 0;
    text-align: center;
    font-size: 16px;
    transition: .4s;
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 20;
} 
.cards_lg:hover .txt_cards{
    opacity: 1;
    transition: .8s;
}
.cards_lg .txt_cards{
    transform: translate(150px, -175px);
}
.cards:hover .txt_cards{
    opacity: 1;
    transition: .4s;
}
.cards .txt_cards{
    transform: translate(23px, -175px);
}
.cards_m:hover .txt_cards{
    opacity: 1;
    transition: .4s;
}
.cards_m .txt_cards{
    transform: translate(80px, -175px);
}

@media all and(max-width: 992px){ 
    .grid{
        display: grid;
        grid-template-columns: 15rem 15rem;
        gap: 1rem;
        padding-bottom: 1rem;
        /*background-image: url('back_hero.png');
        background-size: 130%;*/
        }
        .cards_lg, .cards_m{   
            grid-column: 1/2;
            .image{
                img{
                    width: 180%;
                }
        }
    }
    .txt_cards{
        display: none;
    }
    .cards, .cards_lg, .cards_m{ 
        .image{
            &:active{
            filter: blur(.5px);
            }
        }
    }
}

@media all and(max-width: 688px){
    header{
        .dev_par{
            display: none;
        }
    }
    main{
        .grid{
            display: grid;
            grid-template-columns: 15rem;
            gap: 2rem;
            margin: 0;
            padding: 3rem;
            /*background-image: url('back_hero.png');
            background-size: 160%;*/
        }
        .cards_lg, .cards_m{   
            grid-column: 1;
            
        }
    }   
}