.grid{
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    gap: 2rem;
    padding: 4rem;
    background-image: url('back_hero.png');
    background-size: contain;
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.cards, .cards_lg, .cards_m{ 
    position: relative;
    display: block;
    padding: 10px;
    box-shadow: 4px 4px 4px 3px #273f3a2c;
    background-color: white;
    transition: .8s;
    .image{
        border-radius: 5px;
        overflow: hidden;
        height: 15rem;
        filter: grayscale(1);
        transition: .4s;
        /* animation: filter-animation 2.5s ease-in-out;*/
        &:hover{
        transition: .4s;
        filter: grayscale(0);
        }
    }
        &:hover{
            transition: .8s;
            transform: scale(1.2);
            box-shadow: 6px 6px 6px 6px #273f3a2c;
            z-index: 5;
        }
        &:active{
            box-shadow: 2px 2px 2px 2px #273f3a2c;
            transition: .1s;
        }
}
.cards{
    img{
    height: 20rem;
    }
}
.cards_m{
    grid-column: 1/3;
    .image{
        img{
            width: 100%;
        }
    }
}
.cards_lg{
    grid-column: 1/4;
    .image{
        img{
            width: 100%;
        }
    }
}
/*HOVER TEXTE*/
.txt_cards{
        position:absolute;
        background-color: white;
        border-radius:0 0 5px 5px ;
        padding: 0.5rem;
        transform: translate(-8px,-250px);
        opacity: 0;
        transition: .4s;
        p{
            height: 0;
            width: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            text-align: left;
            font-size: 16px;
            transition: .4s;
        }
} 
.cards_lg:hover .txt_cards{
    opacity: 1;
    transition: .4s;
}
.cards_lg:hover p{
    width: auto;
    height: auto;
    transition: .4s;
    opacity: 1;
}
.cards_lg:hover h4{
    transition: .8s;
}
.cards_lg:hover .txt_cards{
    opacity: 1;
    transition: .4s;
}
.cards_m:hover p{
    width: auto;
    height: auto;
    transition: .4s;
    opacity: 1;
    background: white;
}
.cards_m:hover h4{
    background-image: linear-gradient(70deg, #96fbc4, #17947C, #96fbc4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 400ms;
}
.cards_m:hover .txt_cards{
    background: white;
    opacity: 1;
    transition:800ms;
}
.cards:hover p{
    width: auto;
    height: auto;
    transition: .4s;
    opacity: 1;
}
.cards:hover h4{
    background-image: linear-gradient(70deg, #96fbc4, #17947C, #96fbc4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 400ms;
}
.cards:hover .txt_cards{
    background: white;
    opacity: 1;
    transition: .4s;
    width: auto;
    height: auto;
}

@media all and(max-width: 992px){ 
    .grid{
        display: grid;
        grid-template-columns: 15rem 15rem;
        gap: 1rem;
        padding-bottom: 1rem;
        background-image: url('back_hero.png');
        background-size: 130%;
        }
        .cards_lg, .cards_m{   
            grid-column: 1/2;
    }
    .cards{
        img{
        height: 15rem;
        }
    }
}

@media all and(max-width: 688px){
    header{
        .dev_par{
            display: none;
        }
    }
    main{
        .grid{
            display: grid;
            grid-template-columns: 15rem;
            gap: 2rem;
            margin: 0;
            padding: 3rem;
            background-image: url('back_hero.png');
            background-size: 160%;
        }
        .cards_lg, .cards_m{   
            grid-column: 1;
            &:active{
                filter: none;
                box-shadow: 2px 2px 2px 2px #cec7bd;
                transition: .1s;
            }
        }
        .cards{
            img{
                height: 15rem;
            }
            &:active{
                filter: none;
                box-shadow: 2px 2px 2px 2px #cec7bd;
                transition: .1s;
            }
        }
        .txt_cards{
            display: block;
            border-radius:0 0 5px 5px ;
            padding: 0.5rem;
            p{
                display: none;
            }
        }
    }   
}