@keyframes color_text {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes opa_nav {
    0%{
        opacity: 0;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
nav{
    position: fixed;
    width: 100%;
    height: 55px;
    padding: .5rem .5rem;
    background-color: rgba(255, 255, 255, 0.788);
    backdrop-filter: blur(15px);
    z-index: 10;
    animation: opa_nav 3s ease;
    .logo{
        position: absolute;
        display: flex;
        p{
            top: 15%;
            background-image: linear-gradient(80deg, #17947C, #96fbc4,);
            background-size: 200% 200%;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            animation: color_text 3s infinite linear;
            b{
            font-size: 28px;
            font-weight: 600;
        }
            i{
                font-size: 28px;
            }
        }
    }
    .link{
        animation: opa_nav 4s ease;
        position: relative;
        animation: opa 5s ease;
    }
    .link::after{
        content: '';
        width: 100%;
        height: 10px;
        z-index: -1;
        background-color: #96fbc4;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }
    .link:hover::after{
        transform: scaleX(1);
    }
    /*MENU BURGER*/
    .toggle{
        display: none;
    }
    .nav_center{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .nav_center ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 0 40px;
        }
        .link{
            text-transform: capitalize;
            padding-bottom: 2%;
            position: relative;
        }
        .link::after{
            content: '';
            width: 110%;
            height: 13px;
            background-color: #96fbc4;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 10px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .5s ease;
        }
        .link:hover::after{
            transform: scaleX(1);
        }
    } 
}
.dev_by{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    transform: rotate(90deg);
    top: 45vh;
    right: -80px;
    z-index: 15;
    animation: opa 5s ease;
    img{
        width: 30px;
        transform: rotate(-90deg);
        padding-top: 1rem;
        animation: opa 6s ease;
    }
}

@media all and(max-width: 992px){

nav{
    width: 100%;
    padding: .5rem;
    .link:active::after{
        transform: scaleX(1);
    }
/*MENU BURGER*/
    .toggle {
        display: block;
        position: absolute;
        top: 1.4rem;
        right: 2rem;
        font-size: 1.75rem;
        color: #96fbc4;
        cursor: pointer;
        z-index: 20;
        transition: .8s;
        .burger-menu{
            display: block;
            transition: .4s;
            &:hover{
                transform: translateX(40%);
                transition: .6s;
            }
        }
        .cross-menu{
            display: none;
        }
        &.isOpened{
            .burger-menu{
                display: none;
            }
            .cross-menu{
                display: block;
                &:hover{
                    transform: translateX(-40%);
                    transition: .6s;
                }
            }
        }
    }
    .nav_center {
        display: none;
    }
    .menu {
        width: 100vw;
        height: 100vh;
        background: #17947bdd;
        border-radius: 0 0 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .8s;
        margin-top: 60px;
    }
    .open .menu {
        .nav_center {
            display: block;
        }
        opacity: 1;
        transition: .8s;
    }
    .nav_center ul li .link{
        color: #fff;
        font-size: 38px;
        line-height: 6rem;
        animation: none;
    }
    
    &.isOpened{
        .nav_center {
            display: block;
        }
        .menu{
            opacity: 1;
        }
    }
}
.dev_by{
        display: none;
    }
}

@media all and(max-width: 688px){
    nav{
        .logo{
            p{
                top: 23%;
                b{
                font-size: 20px;
                font-weight: 700;
            }
                i{
                    font-size: 20px;
                }
            }
        }
        .menu{
            width: 100%;
            transform: translateX(0);
        }
    }
}