@-webkit-keyframes color_text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes color_text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes opa_nav {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opa_nav {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: .5rem .5rem;
  background-color: rgba(255, 255, 255, 0.788);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 10;
  -webkit-animation: opa_nav 3s ease;
          animation: opa_nav 3s ease;
  /*MENU BURGER*/
}

nav .logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .logo p {
  top: 15%;
  background-image: linear-gradient(80deg, #17947C, #96fbc4);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: color_text 3s infinite linear;
          animation: color_text 3s infinite linear;
}

nav .logo p b {
  font-size: 28px;
  font-weight: 600;
}

nav .logo p i {
  font-size: 28px;
}

nav .link {
  -webkit-animation: opa_nav 4s ease;
          animation: opa_nav 4s ease;
  position: relative;
  -webkit-animation: opa 5s ease;
          animation: opa 5s ease;
}

nav .link::after {
  content: '';
  width: 100%;
  height: 10px;
  z-index: -1;
  background-color: #96fbc4;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

nav .link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .toggle {
  display: none;
}

nav .nav_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

nav .nav_center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_center ul li {
  padding: 0 40px;
}

nav .nav_center ul .link {
  text-transform: capitalize;
  padding-bottom: 2%;
  position: relative;
}

nav .nav_center ul .link::after {
  content: '';
  width: 110%;
  height: 13px;
  background-color: #96fbc4;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

nav .nav_center ul .link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.dev_by {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 45vh;
  right: -80px;
  z-index: 15;
  -webkit-animation: opa 5s ease;
          animation: opa 5s ease;
}

.dev_by img {
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 1rem;
  -webkit-animation: opa 6s ease;
          animation: opa 6s ease;
}

@media all and (max-width: 992px) {
  nav {
    width: 100%;
    padding: .5rem;
    /*MENU BURGER*/
  }
  nav .link:active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  nav .toggle {
    display: block;
    position: absolute;
    top: 1.4rem;
    right: 2rem;
    font-size: 1.75rem;
    color: #96fbc4;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: .8s;
    transition: .8s;
  }
  nav .toggle .burger-menu {
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
  }
  nav .toggle .burger-menu:hover {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
    -webkit-transition: .6s;
    transition: .6s;
  }
  nav .toggle .cross-menu {
    display: none;
  }
  nav .toggle.isOpened .burger-menu {
    display: none;
  }
  nav .toggle.isOpened .cross-menu {
    display: block;
  }
  nav .toggle.isOpened .cross-menu:hover {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    -webkit-transition: .6s;
    transition: .6s;
  }
  nav .nav_center {
    display: none;
  }
  nav .menu {
    width: 100vw;
    height: 100vh;
    background: #17947bdd;
    border-radius: 0 0 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: .8s;
    transition: .8s;
    margin-top: 60px;
  }
  nav .open .menu {
    opacity: 1;
    -webkit-transition: .8s;
    transition: .8s;
  }
  nav .open .menu .nav_center {
    display: block;
  }
  nav .nav_center ul li .link {
    color: #fff;
    font-size: 38px;
    line-height: 6rem;
    -webkit-animation: none;
            animation: none;
  }
  nav.isOpened .nav_center {
    display: block;
  }
  nav.isOpened .menu {
    opacity: 1;
  }
  .dev_by {
    display: none;
  }
}

@media all and (max-width: 688px) {
  nav .logo p {
    top: 23%;
  }
  nav .logo p b {
    font-size: 20px;
    font-weight: 700;
  }
  nav .logo p i {
    font-size: 20px;
  }
  nav .menu {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 15rem 15rem;
      grid-template-columns: 15rem 15rem 15rem;
  gap: 2rem;
  padding: 4rem;
  /*background-image: url('back_hero.png');*/
  background-size: contain;
}

.grid .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: #f7f0e9;
  -webkit-animation: rond 6s infinite ease-in-out;
          animation: rond 6s infinite ease-in-out;
}

.cards, .cards_lg, .cards_m {
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 0.503);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 4px 4px 4px 3px #273f3a2c;
          box-shadow: 4px 4px 4px 3px #273f3a2c;
  border-radius: 5px;
  -webkit-transition: .8s;
  transition: .8s;
  overflow: hidden;
  padding: 15px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.cards .image, .cards_lg .image, .cards_m .image {
  border-radius: 5px;
  overflow: hidden;
  height: 15rem;
  -webkit-transition: .8s;
  transition: .8s;
}

.cards .image:hover, .cards_lg .image:hover, .cards_m .image:hover {
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}

.cards:hover, .cards_lg:hover, .cards_m:hover {
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 6px 6px 6px 6px #273f3a2c;
          box-shadow: 6px 6px 6px 6px #273f3a2c;
  z-index: 5;
  padding: 15px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.cards:active, .cards_lg:active, .cards_m:active {
  -webkit-box-shadow: 2px 2px 2px 2px #273f3a2c;
          box-shadow: 2px 2px 2px 2px #273f3a2c;
  -webkit-transition: .1s;
  transition: .1s;
}

.cards img {
  height: 20rem;
}

.cards_m {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.cards_m .image img {
  width: 100%;
}

.cards_lg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.cards_lg .image img {
  width: 100%;
}

/*HOVER TEXTE*/
.txt_cards {
  padding: 10px;
  color: #17947C;
  background-color: white;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 5px 5px;
  -webkit-box-shadow: 4px 4px 4px 3px #273f3a2c;
          box-shadow: 4px 4px 4px 3px #273f3a2c;
  padding: 1.5rem;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
  margin: 1rem 0;
  text-align: center;
  font-size: 16px;
  transition: .4s;
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 20;
}

.cards_lg:hover .txt_cards {
  opacity: 1;
  -webkit-transition: .8s;
  transition: .8s;
}

.cards_lg .txt_cards {
  -webkit-transform: translate(150px, -175px);
          transform: translate(150px, -175px);
}

.cards:hover .txt_cards {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.cards .txt_cards {
  -webkit-transform: translate(23px, -175px);
          transform: translate(23px, -175px);
}

.cards_m:hover .txt_cards {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.cards_m .txt_cards {
  -webkit-transform: translate(80px, -175px);
          transform: translate(80px, -175px);
}

@media all and (max-width: 992px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15rem 15rem;
        grid-template-columns: 15rem 15rem;
    gap: 1rem;
    padding-bottom: 1rem;
    /*background-image: url('back_hero.png');
        background-size: 130%;*/
  }
  .cards_lg, .cards_m {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .cards_lg .image img, .cards_m .image img {
    width: 180%;
  }
  .txt_cards {
    display: none;
  }
  .cards .image:active, .cards_lg .image:active, .cards_m .image:active {
    -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
  }
}

@media all and (max-width: 688px) {
  header .dev_par {
    display: none;
  }
  main .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15rem;
        grid-template-columns: 15rem;
    gap: 2rem;
    margin: 0;
    padding: 3rem;
    /*background-image: url('back_hero.png');
            background-size: 160%;*/
  }
  main .cards_lg, main .cards_m {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.button {
  position: relative;
  color: #18957D;
  border: solid 2px #97FCC4;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 5px #97FCC4;
          box-shadow: 0px 1px 5px #97FCC4;
  -webkit-animation: slideL 6s ease-out;
          animation: slideL 6s ease-out;
  -webkit-transition: .8s;
  transition: .8s;
}

.button:hover {
  -webkit-box-shadow: 0px 2px 10px #06382ea1;
          box-shadow: 0px 2px 10px #06382ea1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .8s;
  transition: .8s;
}

.button:active {
  -webkit-box-shadow: inset 0px 2px 10px #06382e71;
          box-shadow: inset 0px 2px 10px #06382e71;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .4s;
  transition: .4s;
}

.button::after {
  content: '';
  z-index: -1;
  width: 102%;
  height: 101%;
  background-color: #96fbc4;
  position: absolute;
  left: -2px;
  bottom: 0;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button .smiley:hover {
  color: #fabe74;
}

.button .button:hover.smiley {
  color: #fabe74;
}

.button_bis {
  color: #18957D;
  border: #96fbc4 2px solid;
  background-size: cover;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  display: inline-block;
  -webkit-animation: 2s ease-out opa;
          animation: 2s ease-out opa;
  -webkit-transition: .8s;
  transition: .8s;
}

.button_bis a {
  color: #18957D;
}

.button_bis:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .8s;
  transition: .8s;
}

.button_bis:active {
  -webkit-box-shadow: inset 0px 2px 10px #06382e71;
          box-shadow: inset 0px 2px 10px #06382e71;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .8s;
  transition: .8s;
}

.button_bis .button:hover .smiley {
  color: #fabe74;
  font-size: 50px;
}

.content_button {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 688px) {
  .button3 {
    margin-top: 1rem;
  }
  .content_button {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
}

/*ANIMATIONS*/
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
  50% {
    -webkit-filter: sepia(0.6);
            filter: sepia(0.6);
  }
  100% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
}

@keyframes filter-animation {
  0% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
  50% {
    -webkit-filter: sepia(0.6);
            filter: sepia(0.6);
  }
  100% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes opa {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color_text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes open {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background: linear-gradient(white, white);
    opacity: 0;
  }
  30% {
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), to(white));
    background: linear-gradient(#f7f0e9, white);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), color-stop(#f7f0e9), to(white));
    background: linear-gradient(#f7f0e9, #f7f0e9, white);
  }
}

@keyframes open {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background: linear-gradient(white, white);
    opacity: 0;
  }
  30% {
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), to(white));
    background: linear-gradient(#f7f0e9, white);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), color-stop(#f7f0e9), to(white));
    background: linear-gradient(#f7f0e9, #f7f0e9, white);
  }
}

@-webkit-keyframes rond {
  0% {
    -webkit-transform: matrix3d(1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
            transform: matrix3d(1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30, 50, 0, 1.1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30, 50, 0, 1.1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
  }
}

@keyframes rond {
  0% {
    -webkit-transform: matrix3d(1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
            transform: matrix3d(1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30, 50, 0, 1.1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 30, 50, 0, 1.1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -50, 0, 1.1);
  }
}

/*FONT*/
@font-face {
  font-family: 'Vidaloka', serif;
  src: url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
}

@font-face {
  font-family: 'Nunito', serif;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600&display=swap");
}

/*BODY*/
body {
  /*background: 100% url('back_.png');
    background-size: cover;*/
  z-index: -10;
  margin: 0;
  padding: 0px;
  color: #18957D;
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: 300;
  /*SPAN*/
}

body p {
  margin: 0;
}

body ::-moz-selection {
  color: #f7f0e9;
  background-color: #18957D;
}

body ::selection {
  color: #f7f0e9;
  background-color: #18957D;
}

body h1 {
  font-family: 'Nunito', serif;
  font-weight: 500;
  font-size: 75px;
  margin: 0;
}

body h2 {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: 50px;
  color: #18957D;
  padding-bottom: 1rem;
  border-bottom: solid 2px #97FCC4;
}

body h3 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

body h4 {
  font-family: 'Vidaloka', serif;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

body strong {
  font-weight: 500;
}

body a {
  text-decoration: none;
  color: #18957D;
  cursor: crosshair;
}

body li {
  list-style: none;
}

body span {
  font-weight: 700;
}

body .subtitle {
  font-weight: 600;
}

body .subtitle p {
  padding-bottom: 1rem;
}

.grey p, .grey a, .grey h1, .grey h2, .grey h3, .grey .link {
  color: #222726;
}

.grey .dev_by img, .grey .logo lottie-player {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/*HEADER*/
header {
  /*ACCEUIL*/
  /*PAGE Portfolio*/
  /* PAGE Contact*/
  /* PAGE Project*/
}

header .hero {
  -webkit-animation: open 3s ease;
          animation: open 3s ease;
  padding: 10rem 12rem 0rem 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), color-stop(#f7f0e9), to(white));
  background-image: linear-gradient(#f7f0e9, #f7f0e9, white);
}

header .hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-animation: opa 4s ease-in;
          animation: opa 4s ease-in;
  width: 40vw;
}

header .hero .text h1 {
  font-family: 'Nunito';
  background-image: linear-gradient(80deg, #17947C, #96fbc4, #17947C, #96fbc4);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: color_text 6s infinite linear;
          animation: color_text 6s infinite linear;
  line-height: 4.5rem;
  padding-bottom: 2rem;
}

header .hero .text p {
  font-style: italic;
}

header .hero .button {
  margin-top: 3rem;
}

header .hero .animation {
  width: 50vw;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: hero 2.5s ease-out;
          animation: hero 2.5s ease-out;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

@-webkit-keyframes hero {
  0% {
    -webkit-transform: scale(0%) translateX(100%) translateY(100%);
            transform: scale(0%) translateX(100%) translateY(100%);
  }
  70% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes hero {
  0% {
    -webkit-transform: scale(0%) translateX(100%) translateY(100%);
            transform: scale(0%) translateX(100%) translateY(100%);
  }
  70% {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

header .nav_portfolio {
  height: 100vh;
  -webkit-animation: open 2s ease;
          animation: open 2s ease;
  padding: 0vw 2vw 2vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), color-stop(#f7f0e9), to(white));
  background: linear-gradient(#f7f0e9, #f7f0e9, white);
  /*background-image: url('back_hero.png');*/
}

header .nav_portfolio .web, header .nav_portfolio .obj, header .nav_portfolio .autre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 14rem;
  height: 10rem;
  border-radius: 5rem;
}

header .nav_portfolio::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 250px;
  background: #Fabe74;
  -webkit-animation: rond 6s infinite ease-in-out;
          animation: rond 6s infinite ease-in-out;
  top: 20%;
  left: 35%;
}

header .nav_portfolio::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 250px;
  background: #96fbc4;
  -webkit-animation: rond 5.5s infinite ease-in-out;
          animation: rond 5.5s infinite ease-in-out;
  top: 40%;
  left: 50%;
  z-index: -2;
}

header .nav_portfolio .web {
  -webkit-animation: 3s ease-out slide;
          animation: 3s ease-out slide;
  margin-top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: .8s;
  transition: .8s;
  text-align: right;
}

header .nav_portfolio .web::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #fabe74;
  -webkit-animation: rond 6s infinite ease-in-out;
          animation: rond 6s infinite ease-in-out;
}

header .nav_portfolio .web h1 {
  z-index: 5;
  font-size: 48px;
}

header .nav_portfolio .web::after {
  content: '';
  width: 110%;
  height: 90px;
  z-index: 1;
  background-color: #96fbc4;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .nav_portfolio .web:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .nav_portfolio .web:hover {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .nav_portfolio .obj {
  -webkit-animation: 3.5s ease-out slide;
          animation: 3.5s ease-out slide;
  -webkit-transition: .8s;
  transition: .8s;
}

header .nav_portfolio .obj::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #fabe74;
  -webkit-animation: rond 6.5s infinite ease-in-out;
          animation: rond 6.5s infinite ease-in-out;
}

header .nav_portfolio .obj h1 {
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 5;
  font-size: 48px;
  position: relative;
  padding: 0;
  margin: 0;
}

header .nav_portfolio .obj::after {
  content: '';
  width: 80%;
  height: 85px;
  z-index: 1;
  background-color: #96fbc4;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .nav_portfolio .obj:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .nav_portfolio .obj:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .hero_contact {
  padding: 15vw 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero_contact .title_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero_contact .title_contact .txt_ligth {
  font-weight: 200;
}

.animcss {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.animcss .rond1 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #18957D;
  -webkit-animation: rond 3s infinite ease-in-out;
          animation: rond 3s infinite ease-in-out;
}

.animcss .rond2 {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #18957D;
  -webkit-animation: rond 3.25s infinite ease-in-out;
          animation: rond 3.25s infinite ease-in-out;
}

.animcss .rond3 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #18957D;
  -webkit-animation: rond 3.5s infinite ease-in-out;
          animation: rond 3.5s infinite ease-in-out;
}

/*MAIN*/
main {
  /* PAGE > Home > Title .recent_projects */
  /* PAGE > Home > About */
  /* PAGE > Project */
  /* PAGE Portfolio*/
  /*PAGE CONTACT*/
}

main .anim {
  padding: 6rem;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s;
  transition: .4s;
}

main .anim img {
  -webkit-animation: rot 2.5s linear infinite;
          animation: rot 2.5s linear infinite;
  padding-left: 4rem;
  -webkit-transition: .4s;
  transition: .4s;
}

main .anim img:hover {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

main .recent_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .recent_projects::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: #f7f0e9;
  -webkit-animation: rond 8s infinite ease-in-out;
          animation: rond 8s infinite ease-in-out;
  z-index: -10;
}

main .recent_projects .title {
  text-align: center;
}

main .recent_projects .title h2 {
  margin: 0;
  padding: 1rem;
  border-bottom: #96fbc4 solid 2px;
}

main .recent_projects .title p {
  margin: 0;
  padding-top: 1rem;
}

main .about {
  padding: 0rem 10rem 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about h2 {
  /*background-image: url('Component3.png');*/
  padding: 1rem;
  border-bottom: #96fbc4 solid 2px;
}

main .about .text {
  /*background-image: url('Component3.png');*/
  background-position: right;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about .text p {
  padding-top: 1rem;
}

main .about .animation {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about .animation img {
  width: 300px;
  height: 100%;
}

main .content_project {
  -webkit-animation: open 3s ease;
          animation: open 3s ease;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), color-stop(#f7f0e9), to(white));
  background-image: linear-gradient(#f7f0e9, #f7f0e9, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem;
  padding-bottom: 5rem;
}

main .content_project h3 {
  font-weight: 700;
}

main .content_project .title_project {
  text-align: right;
  padding-right: 2rem;
}

main .content_project .title_project h1 {
  -webkit-animation: 2s ease-out slideL;
          animation: 2s ease-out slideL;
}

main .content_project .explications {
  padding-left: 1rem;
  border-left: solid 2px #97FCC4;
}

main .grid_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

main .grid_project p {
  padding: 5rem 1rem 1rem 1rem;
}

main .grid_project .image {
  width: 800px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .grid_project .image .double {
  width: 50%;
}

main .grid_project .image img {
  width: 100%;
  height: auto;
}

main .grid_project .image video {
  width: 30%;
  height: auto;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
  display: flex;
  text-align: center;
}

main .content .web_portfolio h2 {
  margin: 0;
}

main .content .web_portfolio .txt h3 {
  padding-top: 1rem;
}

main #web, main #obj {
  padding: 6rem;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6rem;
  -webkit-animation: open 3s ease;
          animation: open 3s ease;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f0e9), color-stop(#f7f0e9), to(white));
  background-image: linear-gradient(#f7f0e9, #f7f0e9, white);
}

main .contact .title_contact {
  /*background-image: url('Component3.png');*/
}

main .contact .hero_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

main .contact .hero_contact p {
  border-top: #96fbc4 solid 2px;
  padding-top: 3rem;
}

main .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 28px;
  border-radius: 5px;
  border: #96fbc4 solid 2px;
  -webkit-box-shadow: 4px 4px 5px rgba(168, 167, 167, 0.863);
          box-shadow: 4px 4px 5px rgba(168, 167, 167, 0.863);
  margin-top: 1rem;
  padding: .5rem;
  margin: 3rem;
  color: #18957D;
  background-color: #fffefd;
  opacity: .6;
  -webkit-backdrop-filter: blur(6rem);
          backdrop-filter: blur(6rem);
}

main .tel p {
  z-index: 10;
}

main .form {
  padding: 3rem;
  background-image: url("back_hero.png");
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  color: #17947C;
  font-size: 20px;
}

main .form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 0.25rem 1rem;
  color: #18957D;
}

main .form input, main .form textarea {
  padding: 1rem;
  border: #96fbc4 solid 2px;
  /*border: dashed 0.5px #18957D;*/
  width: 95%;
  border-radius: 5px;
  background-size: 100%;
  opacity: .8;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 5px;
  color: #18957D;
  -webkit-box-shadow: 4px 4px 5px rgba(168, 167, 167, 0.863);
          box-shadow: 4px 4px 5px rgba(168, 167, 167, 0.863);
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 600;
}

main .form input:hover, main .form textarea:hover {
  -webkit-box-shadow: 4px 4px 15px rgba(168, 167, 167, 0.863);
          box-shadow: 4px 4px 15px rgba(168, 167, 167, 0.863);
}

main .form textarea {
  height: 15rem;
}

main .form .button {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .form button {
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  border: transparent;
  color: white;
}

/* FOOTER */
footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f0e9));
  background-image: linear-gradient(white, #f7f0e9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vw;
  /*background-image: linear-gradient(#FFF, rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0)), url('backfoot.png');
    background-size: cover;*/
  margin-top: 5vw;
  padding: 6rem 0 6rem 0;
}

footer .anim {
  position: absolute;
}

footer .anim img {
  -webkit-animation: none;
          animation: none;
  padding-left: 3rem;
}

footer .anim img:hover {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

footer .txt_footer {
  z-index: 6;
}

footer .txt_footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #17947C;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* RESPONSIV TABLET */
@media all and (max-width: 992px) {
  header {
    /* PAGE ACCEUIL */
  }
  header .hero {
    padding: 10rem 2rem 0rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*background-image: url('back_hero.png');
            background-size: 180%;
            background-position: top;*/
  }
  header .hero .texte h1 {
    text-align: center;
  }
  header .hero .animation {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .hero .animation img {
    width: 200px;
    height: 100%;
  }
  main {
    /* PAGE Home */
    /* PAGE Contact */
  }
  main .anim {
    padding: 3rem;
  }
  main .anim img {
    width: 10%;
  }
  main .anim img:hover {
    opacity: 1;
  }
  main .about {
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about h2 {
    margin-top: 1rem;
    text-align: center;
  }
  main .about .animation {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .about .animation img {
    width: 200px;
    height: 100%;
  }
  main .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
    padding: 15vw 0vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .anim {
    display: none;
  }
}

/* RESPONSIV MOBIL */
@media all and (max-width: 688px) {
  body h1, body h2 {
    font-size: 40px;
    padding-top: 0;
  }
  header .hero {
    padding: 3rem;
    /*background-image: url('back_hero.png');
            background-size: 180%;
            background-position: top;*/
  }
  header .hero .animation {
    padding: 0;
  }
  header .hero .animation .oliv {
    height: 300px !important;
  }
  header .hero .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .hero .text h1 {
    line-height: 2.5rem;
  }
  header .nav_portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  header .nav_portfolio .web {
    -webkit-animation: none;
            animation: none;
    margin-top: 0;
    padding: 3rem;
  }
  header .nav_portfolio .web h2 {
    text-align: center;
    margin: 0;
  }
  header .nav_portfolio .obj {
    -webkit-animation: none;
            animation: none;
  }
  main {
    /* PAGE Portfolio > Text */
    /* PAGE Project > Text */
    /* PAGE Contact*/
  }
  main .anim {
    padding: 6rem 4rem;
    height: auto;
  }
  main .anim img {
    width: 30%;
    padding: 1rem;
    -webkit-animation: none;
            animation: none;
  }
  main .anim img:hover {
    opacity: 1;
  }
  main .recent_projects h2 {
    padding: 0 3rem 0 3rem;
  }
  main .about {
    padding: 0 2rem 6rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .about .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
  main .about .oliv {
    display: none;
  }
  main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .content_project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6rem 3rem 3rem 3rem;
  }
  main .content_project .explications {
    padding-top: 1rem;
    border-top: solid 1px #97FCC4;
    padding-left: 0;
    border-left: none;
  }
  main .grid_project {
    margin-bottom: 6rem;
  }
  main .grid_project p {
    padding-top: 5rem;
  }
  main .grid_project .image {
    width: 300px;
  }
  main .grid_project .image .double {
    width: 50%;
  }
  main .grid_project .image img {
    width: 100%;
  }
  main .grid_project .image video {
    width: 40%;
  }
  main .contact .hero_contact {
    width: 100%;
  }
  main .contact .hero_contact p {
    padding: 2rem 2rem 0 2rem;
    margin: 0;
  }
  main .contact .hero_contact .tel {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */