nav {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: .5rem .5rem;
  background-color: rgba(255, 255, 255, 0.61);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 10;
  border-bottom: solid 1px white;
  /*MENU BURGER*/
}

nav .toggle {
  display: none;
}

nav .logo a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo a img {
  width: 45px;
  margin: 0 20px 20px 20px;
  -webkit-filter: drop-shadow(0px 2px 1px #1e2b28ab);
          filter: drop-shadow(0px 2px 1px #1e2b28ab);
}

nav .logo a p {
  font-family: 'Vidaloka', sans-serif;
  font-size: 25px;
}

nav .logo a:hover {
  color: #Fabe74;
}

nav .nav_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav_center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav_center ul li {
  padding: 4px 40px;
}

nav .nav_center ul a {
  text-transform: capitalize;
  padding: 0.75rem;
}

nav .nav_center ul a:hover {
  -webkit-transition: 800ms;
  transition: 800ms;
  border: dashed 0.5px #18957D;
  border-radius: 5px;
}

.dev_by {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 45vh;
  right: -80px;
  z-index: 15;
}

.dev_by img {
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 1rem;
}

@media all and (max-width: 992px) {
  /*MENU BURGER*/
  nav {
    padding-top: 0;
  }
  nav .logo a {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .logo a img {
    width: 45px;
    margin: 0 20px 20px 20px;
    -webkit-filter: drop-shadow(0px 2px 1px #1e2b28ab);
            filter: drop-shadow(0px 2px 1px #1e2b28ab);
  }
  nav .logo a p {
    font-family: 'Vidaloka', sans-serif;
    font-size: 25px;
  }
  nav .logo a:hover {
    color: #Fabe74;
  }
  nav .toggle {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 1.75rem;
    color: #96fbc4;
    cursor: pointer;
    z-index: 20;
  }
  nav .toggle:hover {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  nav .toggle:active {
    -webkit-transform: rotate(90deg) scale(0.7);
            transform: rotate(90deg) scale(0.7);
  }
  nav .toggle .burger-menu {
    display: block;
  }
  nav .toggle .cross-menu {
    display: none;
  }
  nav .toggle.isOpened .burger-menu {
    display: none;
  }
  nav .toggle.isOpened .cross-menu {
    display: block;
  }
  nav .menu {
    width: 50%;
    height: 50vh;
    background: #17947C;
    border-radius: 0 0 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-transition: all .5s;
    transition: all .5s;
    margin: 0;
    padding: 0;
    z-index: 19;
  }
  nav .open .menu {
    opacity: 1;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  nav .menu li a:hover {
    border: dashed 0.5px #18957D;
    border-radius: 5px;
    padding: 0;
  }
  nav.isOpened .menu {
    opacity: 1;
  }
}

@media all and (max-width: 688px) {
  nav .logo a {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .logo a img {
    width: 45px;
    margin: 0 20px 20px 20px;
    -webkit-filter: drop-shadow(0px 2px 1px #1e2b28ab);
            filter: drop-shadow(0px 2px 1px #1e2b28ab);
  }
  nav .logo a p {
    font-family: 'Vidaloka', sans-serif;
    font-size: 25px;
  }
  nav .logo a:hover {
    color: #Fabe74;
  }
  nav .menu {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .dev_by {
    display: none;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 15rem 15rem;
      grid-template-columns: 15rem 15rem 15rem;
  gap: 2rem;
  padding-bottom: 2rem;
}

.grid .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards, .cards_lg, .cards_m {
  position: relative;
  display: block;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 4px 3px #273f3a2c;
          box-shadow: 4px 4px 4px 3px #273f3a2c;
  background-color: white;
}

.cards .image, .cards_lg .image, .cards_m .image {
  border-radius: 5px;
  overflow: hidden;
  height: 15rem;
  -webkit-animation: filter-animation 2.5s infinite;
          animation: filter-animation 2.5s infinite;
}

.cards .image:hover, .cards_lg .image:hover, .cards_m .image:hover {
  -webkit-animation: none;
          animation: none;
}

.cards:hover, .cards_lg:hover, .cards_m:hover {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-filter: sepia(0%);
          filter: sepia(0%);
  -webkit-box-shadow: 6px 6px 6px 6px #273f3a2c;
          box-shadow: 6px 6px 6px 6px #273f3a2c;
}

.cards:active, .cards_lg:active, .cards_m:active {
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: 2px 2px 2px 2px #273f3a2c;
          box-shadow: 2px 2px 2px 2px #273f3a2c;
  -webkit-transition: .1s;
  transition: .1s;
}

.cards img {
  height: 20rem;
}

.cards_m {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.cards_lg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

/*HOVER TEXTE*/
.txt_cards {
  position: absolute;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 0.5rem;
  -webkit-transform: translate(-8px, -250px);
          transform: translate(-8px, -250px);
}

.txt_cards p {
  height: 0;
  width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.cards_lg:hover p {
  width: 20rem;
  height: 5rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.cards_lg:hover h4 {
  background-image: linear-gradient(70deg, #96fbc4, #17947C, #96fbc4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cards_lg:hover .txt_cards {
  background: white;
  -webkit-transition: 800ms;
  transition: 800ms;
}

.cards_m:hover p {
  width: 20rem;
  height: 5rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.cards_m:hover h4 {
  background-image: linear-gradient(70deg, #96fbc4, #17947C, #96fbc4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cards_m:hover .txt_cards {
  background: white;
  -webkit-transition: 800ms;
  transition: 800ms;
}

.cards:hover p {
  width: 13.5rem;
  height: 5rem;
}

.cards:hover h4 {
  background-image: linear-gradient(70deg, #96fbc4, #17947C, #96fbc4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cards:hover .txt_cards {
  background: white;
}

@media all and (max-width: 992px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15rem 15rem;
        grid-template-columns: 15rem 15rem;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .cards_lg {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .cards img {
    height: 15rem;
  }
}

@media all and (max-width: 688px) {
  header .dev_par {
    display: none;
  }
  main .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15rem;
        grid-template-columns: 15rem;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  main .cards_lg, main .cards_m {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  main .cards_lg:active, main .cards_m:active {
    -webkit-filter: none;
            filter: none;
    -webkit-box-shadow: 2px 2px 2px 2px #cec7bd;
            box-shadow: 2px 2px 2px 2px #cec7bd;
    -webkit-transition: .1s;
    transition: .1s;
  }
  main .cards img {
    height: 15rem;
  }
  main .cards:active {
    -webkit-filter: none;
            filter: none;
    -webkit-box-shadow: 2px 2px 2px 2px #cec7bd;
            box-shadow: 2px 2px 2px 2px #cec7bd;
    -webkit-transition: .1s;
    transition: .1s;
  }
  main .txt_cards {
    display: block;
    border-radius: 0 0 5px 5px;
    padding: 0.5rem;
  }
  main .txt_cards p {
    display: none;
  }
}

.button {
  background: #18957D;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  margin-top: 1rem;
  display: inline-block;
  -webkit-animation: 2s ease-out slideL;
          animation: 2s ease-out slideL;
}

.button a {
  color: white;
}

.button:hover {
  -webkit-box-shadow: 0px 2px 5px #06382e71;
          box-shadow: 0px 2px 5px #06382e71;
  background: linear-gradient(60deg, #18957D, #97FCC4);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.button:hover .smiley {
  font-weight: 800;
}

.button:active {
  -webkit-box-shadow: inset 1px 1px #06382e71;
          box-shadow: inset 1px 1px #06382e71;
  background: linear-gradient(60deg, #18957D, #97FCC4);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 400ms;
  transition: 400ms;
}

/*ANIMATIONS*/
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideL {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideL {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
  50% {
    -webkit-filter: sepia(0.6);
            filter: sepia(0.6);
  }
  100% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
}

@keyframes filter-animation {
  0% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
  50% {
    -webkit-filter: sepia(0.6);
            filter: sepia(0.6);
  }
  100% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
}

@-webkit-keyframes color-text {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}

@keyframes color-text {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}

/*FONT*/
@font-face {
  font-family: 'Vidaloka', serif;
  src: url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
}

@font-face {
  font-family: 'Nunito', serif;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600&display=swap");
}

/*BODY*/
body {
  /*background: 100% url('back_.png');*/
  background-size: cover;
  z-index: -10;
  margin: 0;
  padding: 0;
  color: #18957D;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 200;
  /*SPAN*/
}

body p {
  margin: 0;
}

body ::-moz-selection {
  color: white;
  background-color: #96fbc3bd;
}

body ::selection {
  color: white;
  background-color: #96fbc3bd;
}

body h1 {
  font-family: 'Vidaloka', serif;
  font-weight: 500;
  font-size: 48px;
  margin: 0.5rem;
}

body h2 {
  font-family: 'Vidaloka', serif;
  font-weight: 500;
  font-size: 48px;
  margin: 0.5rem;
}

body h3 {
  font-weight: 200;
  font-size: 16px;
  margin: 0;
}

body h4 {
  font-family: 'Vidaloka', serif;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

body strong {
  font-weight: 400;
}

body a {
  text-decoration: none;
  color: #18957D;
}

body li {
  list-style: none;
}

body .words {
  background-image: linear-gradient(70deg, #96fbc4, #17947C, #96fbc4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: 400ms;
  transition: 400ms;
  /*&:hover{
        background-image: linear-gradient(70deg, #17947C,#96fbc4 );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: 400ms;
    }*/
}

body .words:hover .keywords {
  color: #17947C;
}

body .smiley:hover {
  color: #Fabe74;
}

/*HEADER*/
header {
  /*ACCEUIL*/
  /*PAGE Portfolio*/
  /* PAGE Contact*/
  /* PAGE Project*/
}

header .hero {
  padding: 15vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .hero h1 {
  -webkit-animation: 1s color-text 1s infinite;
          animation: 1s color-text 1s infinite;
}

header .hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .hero .animation {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero .animation img {
  -webkit-animation: 2s ease-out slide;
          animation: 2s ease-out slide;
  width: 300px;
  height: 100%;
}

header .nav_portfolio {
  padding: 0vw 10vw 10vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

header .nav_portfolio .web, header .nav_portfolio .obj, header .nav_portfolio .autre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

header .nav_portfolio .web {
  color: white;
  background: #18957D;
  height: 25rem;
  border-radius: 0 0 5rem 5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 4rem;
  -webkit-animation: 2s ease-out slide;
          animation: 2s ease-out slide;
}

header .nav_portfolio .web h2 {
  padding-bottom: 5rem;
  font-size: 24px;
  -webkit-animation: 2s ease-out 50ms slide;
          animation: 2s ease-out 50ms slide;
}

header .nav_portfolio .web:hover {
  -webkit-transition: 8s;
  transition: 8s;
  background: -webkit-gradient(linear, left top, left bottom, from(#18957D), to(#97FCC4));
  background: linear-gradient(#18957D, #97FCC4);
}

header .nav_portfolio .obj {
  border: solid 3px;
  border-color: #97FCC4;
  -webkit-animation: 1s ease-out slideL;
          animation: 1s ease-out slideL;
}

header .nav_portfolio .obj:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #97FCC4;
}

header .hero_contact {
  padding: 15vw 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero_contact .title_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero_contact .title_contact .txt_ligth {
  font-weight: 200;
}

/*MAIN*/
main {
  margin: 0vw 10vw;
  /* PAGE > Home > Title .recent_projects */
  /* PAGE > Home > About */
  /* PAGE > Project */
  /* PAGE Portfolio*/
  /*PAGE CONTACT*/
}

main .recent_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .recent_projects .title {
  text-align: center;
  margin-bottom: 2rem;
}

main .recent_projects .title h2 {
  font-family: 'Vidaloka';
  margin: 0;
}

main .recent_projects .title p {
  color: #96fbc4;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
}

main .about {
  margin: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .about .animation {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about .animation img {
  width: 300px;
  height: 100%;
}

main .content_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

main .content_project h3 {
  font-weight: 600;
}

main .content_project .title_project {
  -webkit-animation: 2s ease-out slideL;
          animation: 2s ease-out slideL;
}

main .content_project .explications {
  padding-left: 1rem;
  border-left: solid 1px #97FCC4;
}

main .yaouen {
  color: #032435;
}

main .rocketed {
  color: #BE2497;
}

main .grid_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

main .grid_project .image img {
  width: 100%;
  height: auto;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .content .web_portfolio {
  padding: 0 1rem 1rem  0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main #web {
  padding: 3rem;
}

main #obj {
  position: absolute;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vw 0vw;
}

main .contact .hero_contact {
  padding-right: 1rem;
}

main .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  border-radius: 5px;
  border: dashed 0.5px #18957D;
  margin-top: 1rem;
}

main .form {
  width: 70vw;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
  color: #17947C;
  font-size: 20px;
}

main .form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 0.25rem 1rem;
  width: 100%;
  color: #18957D;
  /*text-shadow: 1px 1px 2px #273f3a86;*/
}

main .form input, main .form textarea {
  padding: 1rem;
  border: dashed 0.5px #18957D;
  border-radius: 5px;
  width: 100%;
  background: url("back_.png");
  background-size: cover;
  -webkit-backdrop-filter: blur(3rem);
          backdrop-filter: blur(3rem);
  border-radius: 5px;
  color: #18957D;
  -webkit-box-shadow: 4px 4px 4px rgba(220, 220, 220, 0.753);
          box-shadow: 4px 4px 4px rgba(220, 220, 220, 0.753);
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 600;
}

main .form textarea {
  height: 25vh;
}

main .form .button {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .form button {
  background-color: transparent;
  border: transparent;
  color: white;
}

/* FOOTER */
footer {
  height: 15vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(rgba(255, 255, 255, 0.521)), to(rgba(255, 255, 255, 0))), url("backfoot.png");
  background-image: linear-gradient(#FFF, rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0)), url("backfoot.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vw;
  padding: 6rem 0 2rem 0;
}

footer p {
  color: #17947C;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* RESPONSIV TABLET */
@media all and (max-width: 992px) {
  header {
    /* PAGE ACCEUIL */
  }
  header .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero .texte h1 {
    text-align: center;
  }
  header .hero .animation {
    margin: 1rem;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .hero .animation img {
    width: 200px;
    height: 100%;
  }
  main {
    margin: 0 5rem;
    /* PAGE Home */
    /* PAGE Contact */
  }
  main .about {
    margin: 10rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about h2 {
    margin-top: 1rem;
    text-align: center;
  }
  main .about .animation {
    width: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .about .animation img {
    width: 200px;
    height: 100%;
  }
  main .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
    padding: 15vw 0vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* RESPONSIV MOBIL */
@media all and (max-width: 688px) {
  header .nav_portfolio {
    padding: 0vw 10vw 10vw 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  header .nav_portfolio .web, header .nav_portfolio .obj, header .nav_portfolio .autre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
  }
  header .nav_portfolio .web {
    color: white;
    background: #18957D;
    height: 25rem;
    border-radius: 0 0 5rem 5rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-bottom: 4rem;
    -webkit-animation: 2s ease-out slide;
            animation: 2s ease-out slide;
    margin-right: 0.25rem;
  }
  header .nav_portfolio .web h2 {
    padding-bottom: 5rem;
    font-size: 24px;
    -webkit-animation: 2s ease-out 50ms slide;
            animation: 2s ease-out 50ms slide;
  }
  header .nav_portfolio .web:hover {
    -webkit-transition: 8s;
    transition: 8s;
    background: -webkit-gradient(linear, left top, left bottom, from(#18957D), to(#97FCC4));
    background: linear-gradient(#18957D, #97FCC4);
  }
  header .nav_portfolio .obj {
    border: solid 3px;
    border-color: #97FCC4;
    -webkit-animation: 2s ease-out slideL;
            animation: 2s ease-out slideL;
    margin-left: 0.25rem;
  }
  header .nav_portfolio .obj:hover {
    -webkit-transition: 2s;
    transition: 2s;
    background-color: #97FCC4;
  }
  main {
    margin: 0 1rem;
    /* PAGE Portfolio > Text */
    /* PAGE Project > Text */
  }
  main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .content_project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .content_project .explications {
    padding-top: 1rem;
    border-top: solid 1px #97FCC4;
    padding-left: 0;
    border-left: none;
  }
}
/*# sourceMappingURL=style.css.map */