@import "./_nav.scss";
@import "./_grid.scss";
@import "./_button.scss";

/*ANIMATIONS*/
@keyframes slide {
    0% {
        
        transform: translateY(-1200px);
    }
    70% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes slideL {
    0% {
        
        transform: translateX(-1200px);
    }
    70% {
        transform: translateX(0px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes filter-animation{
    0% {
filter: sepia(1) blur(0.5px)/*hue-rotate(100deg)*/;
    }
    50% {
        filter: sepia(0.6);
    }
    100% {
        filter: sepia(1) blur(0.5px)/*hue-rotate(100deg)*/;
    }
}

/*FONT*/
@font-face {
    font-family: 'Vidaloka', serif;
    src: url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
}
@font-face {
    font-family: 'Nunito', serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600&display=swap');
}

/*BODY*/
body{
    background-size: cover;
    z-index: -10;
    margin: 0;
    padding: 0;
    color: #18957D;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 200;
    p{
        margin: 0;
    }
    ::selection {
        color: white;
        background-color: #fabe74cb;
    }
    h1{
        font-family: 'Vidaloka', serif;
        font-weight: 500;
        font-size: 48px;
        margin: 0.5rem;
    }
    h2{
        font-family: 'Vidaloka', serif;
        font-weight: 500;
        font-size: 48px;
        margin: 0.5rem;
    }
    h3{
        font-weight: 200;
        font-size: 16px;
        margin: 0;
    }
    h4{
        font-family: 'Vidaloka', serif;
        font-size: 28px;
        font-weight: 500;
        margin: 0;
    }
    strong{
        font-weight: 400;
    }
    a{
        text-decoration: none;
        color: #18957D;
    }
    li{
        list-style: none;
    }
    /*SPAN*/
    .words{
    background-image: linear-gradient(70deg, #96fbc4, #17947C, #96fbc4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 400ms;
    /*&:hover{
        background-image: linear-gradient(70deg, #17947C,#96fbc4 );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: 400ms;
    }*/
    &:hover .keywords{
        color: #17947C;
    }
}
    .smiley:hover{
        color: #Fabe74;
    }
}

/*HEADER*/
header{
    /*ACCEUIL*/
    .hero{
        padding: 15vw 10vw;
        display: flex;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;           
        }
        .animation{
            width: 50vw;
            display: flex;
            justify-content: center;
            img{
                width: 300px;
                height: 100%;
            }
        }
    }
    /*PAGE Portfolio*/
    .nav_portfolio{
        padding: 0vw 10vw 10vw 10vw;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        .web, .obj, .autre{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 10rem;
            height: 10rem;
            border-radius: 5rem;
            
        }
        .web{
            color: white;
            background:  #18957D;
            height: 25rem;
            border-radius: 0 0 5rem 5rem;
            justify-content: end;
            padding-bottom: 4rem;
            animation:  2s ease-out slide ;
            h2{
                padding-bottom: 5rem;
                font-size: 24px;
                animation:  2s ease-out 50ms slide ;
            }
            &:hover{
                transition: 8s;
                background: linear-gradient(#18957D, #97FCC4);
            }
        }
        .obj{
            border: solid 3px;
            border-color: #97FCC4;
            animation:  2s ease-out slideL;
            &:hover{
                transition: 2s;
                background-color: #97FCC4;
            }
        }
    }
    /* PAGE Contact*/
    .hero_contact{
        display: flex;
        justify-content: center;
        
        .title_contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .txt_ligth{
                font-weight: 200;
            }
        }
    }
    /* PAGE Project*/
}

/*MAIN*/
main{
    margin:0vw 10vw;
    /* PAGE > Home > Title .recent_projects */
    .recent_projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title{
            text-align: center;
            margin-bottom: 2rem;
            h2{
                font-family: 'Vidaloka';
                margin: 0;
            }
            p{
            color: #96fbc4;
            font-weight: 200;
            font-size: 16px;
            margin: 0;
            }
        }
    }
    /* PAGE > Home > About */
    .about{
        margin: 10rem 0;
        display: flex;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        .animation{
            width: 40vw;
            display: flex;
            justify-content: center;
            img{
                width: 300px;
                height: 100%;
            }
        }
    }
    /* PAGE > Project */
    .content_project{
        display: flex;
        justify-content: space-around;
        padding-top: 10rem;
        padding-bottom: 5rem;
        h3{
            font-weight: 600;
        }
        .title_project{
            animation:  2s ease-out slideL ;
        }
        .explications{
            padding-left: 1rem;
            border-left: solid 1px #97FCC4;
        }
    }
    .yaouen{
        color: #032435;
    }
    .grid_project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image{
            img{
            width: 100%;
            height: auto;
        }
        }
    }
    /* PAGE Portfolio*/
    .content{
        display: flex;
        align-items: flex-start;
        .web_portfolio{
        padding-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        }
        
    }
    /*PAGE CONTACT*/
    .contact{
        margin: 5rem;
        .tel{
            display: flex;
            justify-content: center;
            font-family: 'vidaloka';
            font-size: 28px;
            background-color: #F9F1E5;
            background-size: cover;
            border-radius: 5px;
        }
        .form{
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            background-color: #f9f1e5d5;
            background-image: url("back.png");
            background-size: cover;
            border-radius: 5px;
            label{
                display: flex;
                padding: 1rem;
            }
            input, textarea{
                padding: 1rem;
                border: none;
                border-radius: 5px;    
                width: 25vw;
            }   
            textarea{
                height: 25vh;
            }
            .button{
                margin: 2rem;
                display: flex;
                justify-content: center;
            }
            button{
                background-color: transparent;
                border: transparent;
                color: white;
            }
        }   
    }
}

/* FOOTER */
footer{
    height: 10vw;
    background: linear-gradient(60deg, #17947C,#96fbc4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vw;
    padding: 2rem;
    p
    {color: white;
    font-size: 14px;
    margin: 0;
    }
}

/* RESPONSIV TABLET */
@media all and(max-width: 992px){ 
    header{
        /* PAGE ACCEUIL */
        .hero{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            .texte{
                h1{
                    text-align: center;
                }          
            }
            .animation{
                margin: 1rem;
                width: 50vw;
                display: flex;
                justify-content: center;
                img{
                    width: 200px;
                    height: 100%;
                }
            }
        }         
    }

    main{
        margin: 0 5rem;
        /* PAGE Home */
        .about{
            margin: 10rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin-top: 1rem;
                text-align: center;
            }   
            .animation{
                width: 0vw;
                display: flex;
                justify-content: center;
                img{
                    width: 200px;
                    height: 100%;
                }
            }
        }
    }
}

/* RESPONSIV MOBIL */
@media all and(max-width: 688px){
    
    main{
        margin: 0 2rem;
        /* PAGE Portfolio > Text */
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        /* PAGE Project > Text */
        .content_project{
            display: flex;
            flex-direction: column;
            align-items: center;
            .explications{
                padding-top: 1rem;
                border-top: solid 1px #97FCC4;
                padding-left: 0;
                border-left: none;
                
            }
        }
    }   
}