@font-face {
  font-family: 'Vidaloka', serif;
  src: url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
}

@font-face {
  font-family: 'Nunito', serif;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600&display=swap");
}

body {
  margin: 0;
  padding: 0;
  color: #18957D;
  font-family: 'Nunito';
  font-size: 16px;
}

body h1 {
  font-family: 'Vidaloka', serif;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
}

body h2 {
  font-family: 'Vidaloka', serif;
  font-weight: 500;
  margin: 0;
}

body h3 {
  font-weight: 200;
  font-size: 16px;
  margin: 0;
}

::-moz-selection {
  color: white;
  background-color: #fabe7498;
}

::selection {
  color: white;
  background-color: #fabe7498;
}

a {
  text-decoration: none;
  color: #18957D;
}

li {
  list-style: none;
}

.button {
  background: #18957D;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  display: inline-block;
  -webkit-animation: 2s ease-out glissementD;
          animation: 2s ease-out glissementD;
}

.button a {
  color: white;
}

.button:hover {
  -webkit-box-shadow: 0px 2px 5px #06382e71;
          box-shadow: 0px 2px 5px #06382e71;
  background: linear-gradient(60deg, #18957D, #97FCC4);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.button:hover .smiley {
  font-weight: 800;
}

.button:active {
  -webkit-box-shadow: inset 1px 1px #06382e71;
          box-shadow: inset 1px 1px #06382e71;
  background: linear-gradient(60deg, #18957D, #97FCC4);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 400ms;
  transition: 400ms;
}

/*SPAN*/
.mots_hover {
  background-image: linear-gradient(60deg, #17947C, #96fbc4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.mots_hover:hover {
  background-image: linear-gradient(60deg, #96fbc4, #96fbc4, #F9F1E5, #Fabe74, #F9F1E5, #96fbc4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.smiley:hover {
  color: #Fabe74;
}

/*HEADER*/
header {
  /*GENERAL*/
  /*.background{
        position: fixed;
        margin-top: 5rem;
        z-index: -1;
        opacity: 0.4;
        img{
            height: 100vh;
        }
    }

    .background_bis{
        position: absolute;
        opacity: 0.4;
        z-index: -3;
    }*/
  /*ACCEUIL*/
  /*PAGE PROJET*/
  /* PAGE CONTACT*/
}

header nav {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: .5rem .5rem;
  background-color: rgba(255, 255, 255, 0.61);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 10;
  border-bottom: solid 1px white;
  /*MENU BURGER*/
}

header nav .toggle {
  display: none;
}

header nav .logo a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .logo a img {
  width: 45px;
  margin: 0 20px 20px 20px;
  -webkit-filter: drop-shadow(0px 2px 1px #1e2b28ab);
          filter: drop-shadow(0px 2px 1px #1e2b28ab);
  -webkit-animation: 2.5s ease-out glissement;
          animation: 2.5s ease-out glissement;
}

header nav .logo a p {
  font-family: 'Vidaloka', sans-serif;
  font-size: 25px;
}

header nav .logo a:hover {
  color: #Fabe74;
}

header nav .nav_centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .nav_centre ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

header nav .nav_centre ul li {
  padding: 5px 40px;
}

header nav .nav_centre ul a {
  text-transform: capitalize;
}

header nav .nav_centre ul a:hover {
  color: #97FCC4;
  -webkit-text-decoration: wavy underline;
          text-decoration: wavy underline;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header .dev_par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 88vw;
  margin-top: 45vh;
  position: fixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 0;
  z-index: 15;
}

header .dev_par img {
  width: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-top: 1rem;
}

header .hero {
  padding: 15vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .hero .texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .hero .animation {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero .animation img {
  width: 300px;
  height: 100%;
}

@-webkit-keyframes glissement {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes glissement {
  0% {
    -webkit-transform: translateY(-1200px);
            transform: translateY(-1200px);
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes glissementD {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes glissementD {
  0% {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  70% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

header .nav_projets {
  padding: 0vw 10vw 10vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

header .nav_projets .web, header .nav_projets .obj, header .nav_projets .autre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

header .nav_projets .web {
  color: white;
  background: #18957D;
  height: 25rem;
  border-radius: 0 0 5rem 5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 4rem;
  -webkit-animation: 2s ease-out glissement;
          animation: 2s ease-out glissement;
}

header .nav_projets .web h2 {
  padding-bottom: 5rem;
  -webkit-animation: 2s ease-out 50ms glissement;
          animation: 2s ease-out 50ms glissement;
}

header .nav_projets .web:hover {
  -webkit-transition: 8s;
  transition: 8s;
  background: -webkit-gradient(linear, left top, left bottom, from(#18957D), to(#97FCC4));
  background: linear-gradient(#18957D, #97FCC4);
}

header .nav_projets .obj {
  border: solid 3px;
  border-color: #97FCC4;
  -webkit-animation: 2s ease-out glissementD;
          animation: 2s ease-out glissementD;
}

header .nav_projets .obj:hover {
  -webkit-transition: 2s;
  transition: 2s;
  background-color: #97FCC4;
}

header .nav_projets .autre {
  border: solid 3px;
  border-color: #FABF74;
}

header .nav_projets .autre:hover {
  -webkit-transition: 8s;
  transition: 8s;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9F1E5), to(#FABF74));
  background: linear-gradient(#F9F1E5, #FABF74);
}

header .hero_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
}

header .titre_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .titre_contact .txt_ligth {
  font-weight: 200;
}

/*MAIN*/
main {
  margin: 1vw 10vw;
  /* PAGE ACCEUIL TITRES PROJETS */
  /*GRID & CARD*/
  /*HOVER TEXTE*/
  /* PAGE ACCEUIL > A PROPOS*/
  /* PAGE PROJET TYPE*/
  /* PAGE PROJET*/
  /*PAGE CONTACT*/
}

main .projets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .projets .titre_projets {
  text-align: center;
  margin-bottom: 2rem;
}

main .projets .titre_projets h2 {
  font-family: 'Vidaloka';
  margin: 0;
}

main .projets .titre_projets p {
  color: #Fabe74;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
}

main .projets .web_pojet {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .projets .web_pojet p {
  color: #17947C;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

main .grille {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 15rem 15rem;
      grid-template-columns: 15rem 15rem 15rem;
  gap: 2rem;
  padding-bottom: 2rem;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
  50% {
    -webkit-filter: sepia(0.6);
            filter: sepia(0.6);
  }
  100% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
}

@keyframes filter-animation {
  0% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
  50% {
    -webkit-filter: sepia(0.6);
            filter: sepia(0.6);
  }
  100% {
    -webkit-filter: sepia(1) blur(0.5px);
            filter: sepia(1) blur(0.5px);
  }
}

main .cartes, main .cartes_gde, main .cartes_moyenne {
  position: relative;
  display: block;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px #cec7bd;
          box-shadow: 5px 5px 5px 5px #cec7bd;
}

main .cartes .image, main .cartes_gde .image, main .cartes_moyenne .image {
  border-radius: 5px;
  overflow: hidden;
  height: 15rem;
  -webkit-animation: filter-animation 3s infinite;
          animation: filter-animation 3s infinite;
}

main .cartes .image:hover, main .cartes_gde .image:hover, main .cartes_moyenne .image:hover {
  -webkit-animation: none;
          animation: none;
}

main .cartes:hover, main .cartes_gde:hover, main .cartes_moyenne:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-filter: sepia(0%);
          filter: sepia(0%);
}

main .cartes img {
  height: 20rem;
}

main .cartes_moyenne {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main .cartes_gde {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

main .txt_cartes {
  position: absolute;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 0.5rem;
  -webkit-transform: translate(-8px, -250px);
          transform: translate(-8px, -250px);
}

main .txt_cartes p {
  height: 0px;
  width: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
  -webkit-transition: 800ms;
  transition: 800ms;
}

main .cartes_gde:hover p {
  width: 100%;
  height: 100%;
  -webkit-transition: 800ms;
  transition: 800ms;
}

main .cartes_gde:hover h2 {
  color: #Fabe74;
}

main .cartes_gde:hover .txt_cartes {
  background: white;
  -webkit-transition: 800ms;
  transition: 800ms;
}

main .cartes:hover p {
  width: auto;
  height: auto;
}

main .cartes:hover h2 {
  color: #Fabe74;
}

main .cartes:hover .txt_cartes {
  background: white;
}

main .apropos {
  margin: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .apropos .texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .apropos .animation {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .apropos .animation img {
  width: 300px;
  height: 100%;
}

main .content_projet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10rem;
}

main .content_projet .titre_projets {
  -webkit-animation: 2s ease-out glissement;
          animation: 2s ease-out glissement;
}

main .content_projet .explications {
  padding-left: 1rem;
  border-left: solid 1px #97FCC4;
}

main .grille_projet_type .cartes .image, main .grille_projet_type .cartes_gde .image, main .grille_projet_type .cartes_moyenne .image {
  -webkit-animation: none;
          animation: none;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .content .web_portfolio {
  padding-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .contact {
  margin: 5rem;
}

main .contact .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'vidaloka';
  font-size: 48px;
  background-color: #F9F1E5;
  border-radius: 5px;
}

main .contact .formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  background-color: #F9F1E5;
  border-radius: 5px;
}

main .contact .formulaire label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

main .contact .formulaire input, main .contact .formulaire textarea {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 25vw;
}

main .contact .formulaire textarea {
  height: 25vh;
}

main .contact .formulaire .button {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact .formulaire button {
  background-color: transparent;
  border: transparent;
  color: white;
}

footer {
  height: 10vw;
  background: linear-gradient(60deg, #17947C, #96fbc4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15vw;
  padding: 2rem;
}

footer p {
  color: white;
  font-size: 14px;
  margin: 0;
}

@media all and (max-width: 992px) {
  header {
    /*MENU BURGER*/
  }
  header nav .toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 1.75rem;
    color: #96fbc4;
    cursor: pointer;
    z-index: 20;
  }
  header nav .toggle .burger-menu {
    display: block;
  }
  header nav .toggle .cross-menu {
    display: none;
  }
  header nav .toggle.isOpened .burger-menu {
    display: none;
  }
  header nav .toggle.isOpened .cross-menu {
    display: block;
  }
  header nav .menu {
    width: 100%;
    height: 100vh;
    background: #00937C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    /*transform: translateX(-100%);*/
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header nav .open .menu {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header nav .menu li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 1.5rem;
  }
  header nav.isOpened .menu {
    opacity: 1;
  }
  header .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero .texte h1 {
    text-align: center;
  }
  header .hero .animation {
    margin: 1rem;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .hero .animation img {
    width: 200px;
    height: 100%;
  }
  main {
    margin: 5rem;
  }
  main .grille {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15rem 15rem;
        grid-template-columns: 15rem 15rem;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  main .cartes_gde, main .cartes_moyenne {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main .cartes img {
    height: 15rem;
  }
  main .apropos {
    margin: 10rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .apropos h1 {
    margin-top: 1rem;
    text-align: center;
  }
  main .apropos .animation {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .apropos .animation img {
    width: 300px;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */